<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zudget</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Zudget</h1>
        </header>
        <div class="content">
            <div class="balances">
                <div class="balance individual">
                    <h2>Individual</h2>
                    <p>£1</p>
                </div>
                <div class="vertical-line"></div>
                <div class="balance group">
                    <h2>Group</h2>
                    <p>£5</p>
                </div>
            </div>
            <div class="buttons">
                <button>Add</button>
                <button>Withdraw</button>
                <button>Play</button>
            </div>
        </div>
    </div>
</body>
</html>

